importer la librairie pandas et renommer la en pd

Créer un DataFrame food_info via le fichier csv food_info.csv

Sélectionner une ligne Assigner la 100 eme ligne du dataframe food_info à la variable row_100 afficher le resultat.

Je voudrais connaitre le nombre de ligne effectives dans la colonne "Water_(g)" (Combien de lignes sont avec du contenu " donc sans la valeur NaN")
Assigner le résultat sous c_water et afficher le résultat 
pour info : https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

Sélectionner les 5 dernieres lignes de food_info et assigner à la variable last_rows.
Recommencer mais d'une autre façon en assignant la variable last_rows2

Assigner la colonne "protein_(g)" à la variable protein.
Assigner la colonne "Cholestrl_(mg)" à la variable cholesterol.
Afficher les resultats

Sélectionner les colonnes "Shrt_Desc", "Selenium_(mcg)" et "Thiamin_(mg)" et assigner le DataFrame resultant à la variable selenium_thiamin.
Afficher le résultat

# Cas pratique

Selectionner et afficher seulement les colonnes qui utilisent comme unité de mesure les grammes (c'est à dire qui se termine par "(g)". Pour cela
- Utiliser l'attribut columns pour retourner le nom des colonnes du dataframe food_info et convertir en liste utilisant la methode tolist()
- Créer une nouvelle liste qu'on nommera gram_columns, contenant seulement les colonnes se terminant par "(g)". Indice: la méthode endswith() retourne True si l'objet sur lequel on l'applique se termine par l'élément entre parenthèse. ex: total(g).endswith("g") retourne True. Une boucle for est fortement conseillé pour parcourir les noms de colonne.
-Selectionner les colonnes de gram_columns pour le dataframe food_info et assigner le dataframe résultat à la variable gram_df
- Afficher les 3 premieres valeurs de ce dataframe gram_df

Voici la doc pandas au cas ou : https://pandas.pydata.org/pandas-docs/stable/reference/io.html


Importer la librairie Pandas.

Lire le fichier "food_info.csv" dans un dataframe qu'on nommera food_info.

Utiliser l'attribut DataFrame columns suivi de la méthode Index.tolist() pour retourner une liste contenant tous les noms de colonne de food_info.

Assigner la liste resultante à la variable col-names et utiliser la fonction print() pour afficher le nom des colonnes.

Enfin afficher les 3 premiers éléments de food_info

# Transformer une colonne (pratique)

- Diviser la colonne "Sodium_(mg)" par 1000 pour convertir cette colonne en grammes et assigner le resultat à la variable sodium_grams.

- Multiplier la colonne "Sugar_Tot(g)" par 1000 pour convertir en milligrammes et assigner le resultat à la variable sugar_milligrams.

# Opérations mathématiques entre colonnes (pratique)

- Diviser la colonne "Protein(g)" par la colonne "Water(g)" et assigner le résultat à la variable grams_of_protein_per_gram_of_water.

- Additionner les colonnes "Calcium(mg)" et "Iron(mg" et assigner le résultat à la variable milligrams_of_calcium_and_iron.

- Afficher les resultats

# Créer un indice nutritionnel (pratique)

Score = 2 x (Protein_(g)) - 0.75 x (LipidTot(g))

- Multiplier la colonne "Protein_(g)" par 2 et assigner le résultat à la variable protein.

- Multiplier la colonne "LipidTot(g)" par -0.75 et assigner le résultat à la variable fat.

- Additionner les variables ensemble et assigner le résultat à la variable rating.

- Afficher le résultat.

# Normaliser des colonnes (pratique)

- Normaliser les valeurs de la colonne "Protein_(g)" et assigner le resultat à la variable normalized_protein.

- Normaliser les valeurs de la colonne "Lipid_tot_(g)" et assigner à la variable normalized_fat.

- Afficher les variables normalized_protein et normalized_fat

In [8]:
# en cours

# Créer une nouvelle colonne (pratique)

Assigner la colonne normalisée representée par la variable normalized_protein à la nouvelle colonne qu'on nommera "Normalized_Protein" dans le DataFrame food_info.

Assigner la colonne normalisée représentée par la variable normalized_fat à la nouvelle colonne qu'on nommera "Normalized_Fat" dans le DataFrame food_info.

Afficher les 5 premieres valeurs du DataFrame food_info

# Créer un indice nutritionnel normalisé

Score = 2 x Normalized_Protein - 0.75 x Normalized_Fat

Utiliser les colonnes Normalized_Protein et Normalized_Fat avec cette formule pour créer une nouvelle colonne qu'on nommera Norm_Nutr_Index.

Afficher le DataFrame food_info ( Les 3 premieres lignes )

# Trier un DataFrame (pratique)

- Remplacer le DataFrame food_info en triant par rapport à la colonne Norm_Nutr_Index de façon decroissante (du plus grand au plus petit).

- Afficher les 3 premiéres lignes.

In [9]:
# en cours

# Trouver les valeurs manquantes (pratique)

Lire le DataSet titanic_survival.csv.

Assigner titanic_survival au DataSet titanic_survival.csv

Compter le nombre de valeurs dans la colonne "age" possédant des valeurs manquantes:

- Assigner à la variable age la colonne des "age" du DataFrame titanic_survival.

- Utiliser la Series résultante pour sélectionner seulement les élements de la colonne "age" qui sont nuls(NaN) et assigner le résultat à la variable age_null.

- Assigner le nombre de valeur manquantes de age_null à la variale age_null_count (fonction len())

-Afficher age_null_count pour voir le nombre de valeurs manquante de la colonne "age"

# Calcul de la moyenne du prix ("fare")

Assigner la moyenne de la colonne "fare" à la variable mean_fare et afficher le resultat.

# Calculer des statistiques de prix

- Créer un dictionnaire vide qu'on nommera fares_by_class.

- Créer la liste passenger_classes qui contient les éléments [1, 2, 3].

- Utiliser une boucle for pour parcourir la liste passenger_classes:

Selectionner juste les lignes de titanic_survival pour lesquelles la colonne pclass est égale à la variable temporaire (l'itérateur) de la boucle for, c'est à dire correspondant au numéro de classe (1, 2 ou 3)

Selectionner seulement la colonne "fare" pour ce sous-ensemble de lignes (correspondant à la classe)

Utiliser la methode Series.mean() pour calculer la moyenne de ce sous-ensemble.

Ajouter cette moyenne calculée de la classe au dictionnaire fares_by_class avec comme clé, le numero de la classe (et donc comme valeur la moyenne du prix du billet d'embarquement)

- Une fois la boucle achevée, le dictionnaire fares_by_class devrait avoir 1, 2 et 3 comme clés avec en valeur les moyennes correspondantes.

Il suffit d'afficher le résultat pour finir.

# Introduction sur le pivot de table (pratique)

Utiliser la méthode DataFrame.pivot_table() pour calculer la moyenne de l'age pour chaque classe de passager("pclass")

Assigner le resultat à la variable passenger_age

Afficher passenger_age

Faire de meme avaec la colonne survived pour chaque classe de passager.

# Table pivot niveau 2

Faire un pivot de table qui calcule le total d'argent encaissé ("fare") et le nombre total de survivants ("survived") pour chaque port
d'embarcation ("embarked").

Il faudra utiliser la fonction numpy.sum()

Assigner le résultat à la variable port_stats et afficher le resultat

In [2]:
import numpy as np 
port_stat = titanic_survival.pivot_table(index = "embarked" values = ["fare" , "survived"])
port_stat

SyntaxError: invalid syntax (<ipython-input-2-36efddee2fc1>, line 2)

# Eliminer les valeurs manquantes (pratique)

Supprimer toutes les lignes de titanic_survival pour lesquelles les colonnes "age" ou "sex" ont des valeurs manquantes et assigner le resultat à la variable new_titanic_survival.

Comparer le nombre de lignes qu'il reste avec l'attribut shape.

In [7]:
# les colonnes "age" et "sex" ne presenteront aucunes valeurs manquantes

In [ ]:
new_titanic_survival = titanic_survival.dropna(axis = 0

# Iloc pour accéder à des lignes (pratique)

Nous utiliserons titanic_survival de la pratique precedente.

Assigner les 10 premieres lignes de titanic_survival à la variable first_ten_rows.

Assigner la 5eme ligne de titanic_survival à la variable row_position_fifth.

Assigner la ligne dont l'ontitulé d'index est 25 pour titanic_survival à la variable row_index_25.

# Les index de colonne (pratique)

Assigner la valeur d'intitulé de ligne 1100 pour la colonne "age" de new_titanic_survival à la variable row_index_1100_age.

Assigner la valeur d'intitulé de ligne 25 pour la colonne "survived" de new_titanic_survival à la variable row_index_25_survived.

Afficher tous les resultats

Afficher via five_rows_three_cols la liste des 5 premieres positions du DataFrame new_titanic_survival ainsi que les 3 premieres colonnes.

# Réindexer les lignes d'un DataFrame (pratique)

- Ré-indexer le DataFrame new_titanic_survival pour que la premiere ligne commence par 0 et supprimer l'ancien indexage.

- Assigner le résultat à la variable titanic_reindexed.

- Afficher les 5 premieres lignes et 3 premieres colonnes de titanic_reindexed.

In [ ]:
titanic_reindexed = new_titanic_survival.reset_index(drop = True)
titanic_reindexed =

# Appliquer des fonctions sur un DataFrame (pratique)

Ecrire une fonction qui compte le nombre d'élements manquants d'un objet Series.

Utiliser la methode DataFrame.apply() pour appliquer votre fonction sur titanic_survival.

Assigner le résultat à la variable column_null_count

Afficher le résultat

In [16]:
def null_count(column):
    column_null = pd.isnull(column)
    null = column[column_null]
    return len(null)

In [17]:
import pandas as pd
titanic_survival = pd.read_csv("titanic_survival.csv")
column_null_count = titanic_survival.apply(null_count)
print(column_null_count)

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

# Appliquer une fonction à une ligne (pratique)

Créer une fonction qui retourne la chaine de caracteres "minior" pour quelqu'un de moins de 18 ans, "adult" si son age est superieur ou égal à 18 et "unknown" si la valeur est manquante.
Utiliser cette fonction avec la méthode apply() pour trouver l'intitulé pour chaque passagers du DataFrame titanic_survival

Assigner le resultat à la variable age_labels

Afficher le résultat

In [13]:
def minor_or_adult(row):
    age = row["age"]
    if age > 18:
        return "adult"
    elif pd.isnull(age):
        return "unknown"
    else :
        return "minor"

import pandas as pd
titanic_survival = pd.read_csv("titanic_survival.csv")
age_labels = titanic_survival.apply(minor_or_adult, axis = 1)
age_labels

0         adult
1         minor
2         minor
3         adult
4         adult
         ...
1305    unknown
1306      adult
1307      adult
1308      adult
1309    unknown
Length: 1310, dtype: object

# Pratique: Calculer le pourcentage de survie par groupe d'âge

Ajouter la colonne "age_labels" au DataFrame titanic_survival contenant la variable age_labels qu'on a crée dans l'exo prècedent.

Créer une table pivot qui calcule la moyenne de chance de survie (colonne "survived") pour chaque groupe d'age (colonne "age_labels") du DataFrame titanic_survival

Assigner l'objet Series résultant à la variable age_group_survival

Afficher le résultat

# Challenge : Analyser de la Data

Introduction au Dataset

- Lire all-ages.csv dans un DataFrame et l'assigner à la variable all_ages.

- Lire recent-grads.csv dans un DataFrame et l'assigner à la variable recent_grads.

- Afficher les 5 premieres lignes de all_ages et recent_grads

In [3]:
import pandas as pd

all_ages = pd.read_csv("all-ages.csv")
recent_grads = pd.read_csv("recent-grads.csv")
all_ages.head()

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148.0,90245.0,74078.0,2423.0,0.026147,50000.0,34000.0,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326.0,76865.0,64240.0,2266.0,0.028636,54000.0,36000.0,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955.0,26321.0,22810.0,821.0,0.030248,63000.0,40000.0,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549.0,81177.0,64937.0,3619.0,0.042679,46000.0,30000.0,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280.0,17281.0,12722.0,894.0,0.049188,62000.0,38500.0,90000.0

In [6]:
recent_grads.head()

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419.0,PETROLEUM ENGINEERING,Engineering,2339.0,36.0,2057.0,282.0,0.120564,1976.0,...,270.0,1207.0,37.0,0.018381,110000.0,95000.0,125000.0,1534.0,364.0,193.0
1,2,2416.0,MINING AND MINERAL ENGINEERING,Engineering,756.0,7.0,679.0,77.0,0.101852,640.0,...,170.0,388.0,85.0,0.117241,75000.0,55000.0,90000.0,350.0,257.0,50.0
2,3,2415.0,METALLURGICAL ENGINEERING,Engineering,856.0,3.0,725.0,131.0,0.153037,648.0,...,133.0,340.0,16.0,0.024096,73000.0,50000.0,105000.0,456.0,176.0,0.0
3,4,2417.0,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258.0,16.0,1123.0,135.0,0.107313,758.0,...,150.0,692.0,40.0,0.050125,70000.0,43000.0,80000.0,529.0,102.0,0.0
4,5,2405.0,CHEMICAL ENGINEERING,Engineering,32260.0,289.0,21239.0,11021.0,0.341631,25694.0,...,5180.0,16697.0,1672.0,0.061098,65000.0,50000.0,75000.0,18314.0,4440.0,972.0

Nombre d'étudiants par catégorie de major

- Retourner les valeurs uniques de Major_category

- Utiliser la methode Series.unique() pour retourner les valeurs uniques d'une Series

In [7]:
all_ages["Major_category"]

0      Agriculture & Natural Resources
1      Agriculture & Natural Resources
2      Agriculture & Natural Resources
3      Agriculture & Natural Resources
4      Agriculture & Natural Resources
                    ...
168                           Business
169                           Business
170                           Business
171          Humanities & Liberal Arts
172          Humanities & Liberal Arts
Name: Major_category, Length: 173, dtype: object

In [8]:
all_ages["Major_category"].unique()

array(['Agriculture & Natural Resources', 'Biology & Life Science',
       'Engineering', 'Humanities & Liberal Arts',
       'Communications & Journalism', 'Computers & Mathematics',
       'Industrial Arts & Consumer Services', 'Education',
       'Law & Public Policy', 'Interdisciplinary', 'Health',
       'Social Science', 'Physical Sciences', nan,
       'Psychology & Social Work', 'Arts', 'Business'], dtype=object)

Pour chaque valeur unique (utilisation d'une boucle for ?)

    - Retourner toutes les lignes ou Major_category vaut cette valeur unique.
    
    - Calculer le nombre total d'étudiants representant cette categorie de major (colonne total à sommer)
    
    - Vous garderez en mémoire ce resultat sous la forme d'un dictionnaire contenant une Major_category en clé et le nombre d'étudiants en valeur.

In [9]:
recent_grads["Total"].sum()

6771464.0

MISSION

    - Créer une fonction dans laquelle vous utiliserez la colonne Total pour calculer le nombre d'étutiants pour chaque catégorie de Major (Major_category) dans chaque DataSet.
    
    - Stocker le resultat dans 2 dictionnaires distincts.
    
    - La clé pour chaque dictionnaire sera Major_category et la valeur le total d'étudiants.
    
    -Pour le dataset all_ages, stocker le resultat dans un dictionnaire qu'on nommera rg_cat_counts
    
    - Pour le Dataset recent_grads, stocker le resultat dans un dictionnaire qu'on nommera rg_cat_counts
    Autre méthode : Utiliser un pivot de table

Afficher les 2 dictionnaires

In [10]:
def calculate_major_cat_totals(df):
    cats = df["Major_category"].unique()
    counts_dictionary = dict()
    
    for c in cats:
        major_df = df[df["Major_category"] == c]
        total = major_df["Total"].sum()
        counts_dictionary[c] = total 
    return counts_dictionary

In [13]:
aa_cat_counts = dict()

aa_cat_counts = calculate_major_cat_totals(all_ages)

print(aa_cat_counts)

{'Agriculture & Natural Resources': 632437.0, 'Biology & Life Science': 1338186.0, 'Engineering': 3576013.0, 'Humanities & Liberal Arts': 3738335.0, 'Communications & Journalism': 1803822.0, 'Computers & Mathematics': 1781378.0, 'Industrial Arts & Consumer Services': 1018072.0, 'Education': 4700118.0, 'Law & Public Policy': 902926.0, 'Interdisciplinary': 45199.0, 'Health': 2950859.0, 'Social Science': 2654125.0, 'Physical Sciences': 1013152.0, nan: 0.0, 'Psychology & Social Work': 1987278.0, 'Arts': 1805865.0, 'Business': 9858741.0}

In [14]:
rg_cat_counts = dict()

rg_cat_counts = calculate_major_cat_totals(recent_grads)

print(rg_cat_counts)

{'Engineering': 537583.0, 'Business': 1302376.0, 'Physical Sciences': 183363.0, 'Law & Public Policy': 179107.0, 'Computers & Mathematics': 299008.0, 'Agriculture & Natural Resources': 79981.0, 'Industrial Arts & Consumer Services': 227357.0, 'Arts': 357130.0, 'Health': 463230.0, 'Social Science': 529966.0, nan: 0.0, 'Biology & Life Science': 453862.0, 'Education': 559129.0, 'Humanities & Liberal Arts': 713468.0, 'Psychology & Social Work': 481007.0, 'Communications & Journalism': 392601.0, 'Interdisciplinary': 12296.0}

In [11]:
import numpy as np
# autre facon avec un pivot de table
aa_cat_counts = dict(all_ages.pivot_table(index="Major_category", values="Total", aggfunc=np.sum))
aa_cat_counts

{'Total': Major_category
 Agriculture & Natural Resources         632437.0
 Arts                                   1805865.0
 Biology & Life Science                 1338186.0
 Business                               9858741.0
 Communications & Journalism            1803822.0
 Computers & Mathematics                1781378.0
 Education                              4700118.0
 Engineering                            3576013.0
 Health                                 2950859.0
 Humanities & Liberal Arts              3738335.0
 Industrial Arts & Consumer Services    1018072.0
 Interdisciplinary                        45199.0
 Law & Public Policy                     902926.0
 Physical Sciences                      1013152.0
 Psychology & Social Work               1987278.0
 Social Science                         2654125.0
 Name: Total, dtype: float64}

# Taux de jobs à faible salaire

Utiliser les colonnes "Low_wage_jobs" et "Total" pour calculer la proportion de jeunes diplomés qui ont du trouver des jobs à faible salaire (recent_grads)

-Souvenez-vous que vous pouvez utiliser la méthode Series.sum() pour retourner la somme des valeurs d'une colonne.
Stocker le resultat dans la variable low_wage_proportion et afficher le.

In [13]:
low_wage_jobs_sum = recent_grads["Low_wage_jobs"].sum()

recent_grads_sum = recent_grads["Total"].sum()

low_wage_proportion = low_wage_jobs_sum/recent_grads_sum

print(low_wage_proportion)

0.09856140415130317

# Alignement des données

In [22]:
# Les objets series s'alignent avec les index

# Les DataFrames avec les index et les colonnes

- Créer la Series rt_critics qui index les valeurs des notes de la colonne RottenTomatoes(notes des critiques) avec comme index le nom des films (colonne FILM)

- Créer la Series rt_users qui index les valeurs des notes de la colonne RottenTomatoes_User (note des utilisateurs) avec comme index le nom des films (colonne FILM)

- rt_critics et rt_users sont donc 2 objets Series contenant la moyenne des notes des critiques et des utilisateurs pour chaque film

- Puisque chaque Series utilise le meme index (correspondant aux noms des films), utiliser des operations mathematiques pour retourner la moyenne des notes des critiques et des utilisateurs pour chaque film.

- Assigner la Series résultante à la variable rt_mean

- Afficher le resultat

In [14]:
import pandas as pd
import numpy as np
from pandas import Series

fandango = pd.read_csv("fandango_score_comparison.csv")

In [15]:
# Series(data = c'est les valeurs que l'on souhaite ici les notes index = on souhaite le nom des films)
# La Data doit toujours etre mise en valeur le nom des films c'est pas important (ce sont des chaines de caracteres) mais les valeurs des notes (il faut ajouter l'attribut values)
rt_critics = Series(fandango["RottenTomatoes"].values, index=fandango["FILM"])
rt_users = Series(fandango["RottenTomatoes_User"].values, index=fandango["FILM"])

# Nous obtenons deux objets Series
rt_critics

FILM
Avengers: Age of Ultron (2015)                74
Cinderella (2015)                             85
Ant-Man (2015)                                80
Do You Believe? (2015)                        18
Hot Tub Time Machine 2 (2015)                 14
                                            ...
Mr. Holmes (2015)                             87
'71 (2015)                                    97
Two Days, One Night (2014)                    97
Gett: The Trial of Viviane Amsalem (2015)    100
Kumiko, The Treasure Hunter (2015)            87
Length: 146, dtype: int64

In [16]:
rt_users

FILM
Avengers: Age of Ultron (2015)               86
Cinderella (2015)                            80
Ant-Man (2015)                               90
Do You Believe? (2015)                       84
Hot Tub Time Machine 2 (2015)                28
                                             ..
Mr. Holmes (2015)                            78
'71 (2015)                                   82
Two Days, One Night (2014)                   78
Gett: The Trial of Viviane Amsalem (2015)    81
Kumiko, The Treasure Hunter (2015)           63
Length: 146, dtype: int64

In [19]:
# Calcul de la moyenne entre les deux notes
rt_mean = (rt_critics + rt_users)/2
# La moyenne c'est la sommes des deux objets / 2

print(rt_mean)

FILM
Avengers: Age of Ultron (2015)               80.0
Cinderella (2015)                            82.5
Ant-Man (2015)                               85.0
Do You Believe? (2015)                       51.0
Hot Tub Time Machine 2 (2015)                21.0
                                             ...
Mr. Holmes (2015)                            82.5
'71 (2015)                                   89.5
Two Days, One Night (2014)                   87.5
Gett: The Trial of Viviane Amsalem (2015)    90.5
Kumiko, The Treasure Hunter (2015)           75.0
Length: 146, dtype: float64

# Utiliser des index entier pour selectionner des lignes

(PRATIQUE)

Lire le dataset "fandango_score_comparison2" dans le DataFrame fandango.

Retourner un DataFrame contenant seulement la premiere et la derniere ligne et assigner le resultat à la variable first_last.

Afficher le resultat (et faire une patite variante)

In [25]:
import pandas as pd

fandango = pd.read_csv("fandango_score_comparison2.csv")

first = 0
last = fandango.shape[0] - 1
first_last = fandango.iloc[[first, last]]
print(first)

0

In [26]:
print(last)

145

In [27]:
first_last

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.30,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
145,"Kumiko, The Treasure Hunter (2015)",87,63,68,6.4,6.7,3.5,3.5,4.35,3.15,...,3.35,4.5,3.0,3.5,3.0,3.5,19,5289,41,0.0

In [30]:
second_version = fandango.iloc[[0, 145]]
second_version

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.30,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
145,"Kumiko, The Treasure Hunter (2015)",87,63,68,6.4,6.7,3.5,3.5,4.35,3.15,...,3.35,4.5,3.0,3.5,3.0,3.5,19,5289,41,0.0

# Utiliser des index personnalisés (PRATIQUE)


    - Utiliser la méthode set_index pour indéxer notre DataFrame fandango avec la colonne "FILM".
    
    - A préciser que nous souhaitons conserver la colonne "FILM".
    
    - De plus nous souhaitions garder le DataFrame d'origine et en créer un nouveau que nous assignerons à la variable fandango_films.

    - Afficher l'index du DataFrame fandango_films à l'aide de l'attribut index.

In [23]:
# DataFrame.set_index(Series, inplace = True, drop = False)
fandango_films = fandango.set_index("FILM", drop = False)
print(fandango_films.index)

Index(['Avengers: Age of Ultron (2015)', 'Cinderella (2015)', 'Ant-Man (2015)',
       'Do You Believe? (2015)', 'Hot Tub Time Machine 2 (2015)',
       'The Water Diviner (2015)', 'Irrational Man (2015)', 'Top Five (2014)',
       'Shaun the Sheep Movie (2015)', 'Love & Mercy (2015)',
       ...
       'The Woman In Black 2 Angel of Death (2015)', 'Danny Collins (2015)',
       'Spare Parts (2015)', 'Serena (2015)', 'Inside Out (2015)',
       'Mr. Holmes (2015)', ''71 (2015)', 'Two Days, One Night (2014)',
       'Gett: The Trial of Viviane Amsalem (2015)',
       'Kumiko, The Treasure Hunter (2015)'],
      dtype='object', name='FILM', length=146)

In [44]:
fandango.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

In [46]:
fandango_films.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
FILM,,,,,,,,,,,,,,,,,,,,,
Avengers: Age of Ultron (2015),Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
Cinderella (2015),Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

# Sélectionner des valeurs depuis un index personnalisé (PRATIQUE)

Selectionner les films suivants depuis le DataFrame fandango_films (dans l'ordre suivant) et assigner les à la variable some_movies:

"Top Five (2014)", "Black Sea (2015)", "Takken 3 (2015)"

Afficher le résultat

In [47]:
movies = ["Top Five (2014)", "Black Sea (2015)", "Taken 3 (2015)"]
movies

['Top Five (2014)', 'Black Sea (2015)', 'Taken 3 (2015)']

In [48]:
fandango_films.loc[movies]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
FILM,,,,,,,,,,,,,,,,,,,,,
Top Five (2014),Top Five (2014),86,64,81,6.8,6.5,4.0,3.5,4.30,3.2,...,3.25,4.5,3.0,4.0,3.5,3.5,124,16876,3223,0.5
Black Sea (2015),Black Sea (2015),82,60,62,6.6,6.4,4.0,3.5,4.10,3.0,...,3.20,4.0,3.0,3.0,3.5,3.0,37,16547,218,0.5
Taken 3 (2015),Taken 3 (2015),9,46,26,4.6,6.1,4.5,4.1,0.45,2.3,...,3.05,0.5,2.5,1.5,2.5,3.0,240,104235,6757,0.4

# unrate.csv ets les courbes avec Pandas

- Lire "unrate.csv" dans un DataFrame et assigner ce résultat à la variable unrate.
    
    - Utiliser la fonction pandas.to_datetime() pour convertir la colonne 'DATE' en valeur datetime.
    
    - Afficher les 12 premières valeurs de unrate correspondant à une année entière.